<?php
$##MODULE## = $this->##MODULE##;

$statuses = [1 => 'Active', 0 => 'Disabled'];
?>
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            <?php
            if (isset($##MODULE##->id)) {
            echo '<i class="fa fa-list" aria-hidden="true"></i> ' . $##MODULE##->title;
            } else {
            echo '<i class="fa fa-list" aria-hidden="true"></i> New ##UC_MODULE##';
            }
            ?>
        </h1>
        <ol class="breadcrumb">
            <li><a href="<?= BASE_URL . PANEL; ?>/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="<?= BASE_URL . PANEL; ?>/##MODULES##/" class="active"> ##UC_MODULE## </a></li>
            <li> <?php echo isset($##MODULE##->id) ? 'Edit' : 'Add'; ?> ##UC_MODULE##</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <form class="form-horizontal" method="post" id="##UC_MODULE##Form" name="##MODULE##Form" enctype="multipart/form-data">
                <div class="col-md-8 col-xs-12">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">Update ##UC_MODULE##</h3>
                        </div>
                        <div class="box-body">
                            ##FORM_FIELDS##
                            <?php echo $this->csrfToken(); ?>

                            <div class="box-footer">
                                <a href="<?= BASE_URL . PANEL; ?>/##MODULES##/" class="btn btn-default btn-sm"><i class="fa fa-close" aria-hidden="true"></i> Close</a>
                                <button type="submit" class="btn btn-success btn-sm pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>	
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">Extra Settings</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="status" class="col-sm-2 control-label">Status</label>
                                <div class="col-sm-10 col-xs-12 validationHolder">
                                    <select name="status" class="form-control">
                                        <?php
                                        if (!empty($statuses)):
                                            foreach ($statuses as $k => $status):
                                        ?>
                                        <option value="<?= $k; ?>" <?= ($k === $this->objval('##MODULE##', 'status')) ? 'selected' : ''; ?>><?= $status; ?></option>
                                        <?php
                                            endforeach;
                                        endif;
                                        ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </section>
</div>